

.grid-container {
    display : grid;
    max-width : 50%;
    grid : 20px / 50px 100px 600px 100px;
    grid-gap : 6px;
    padding : 5px;
    margin : auto;
}

.grid-container > div  {
    border : 1px solid black;
    border-radius : 5px;
    text-align : center;
}

.heading {
    display : flex;
    max-width : 50%;
    padding : 5px;
    margin : auto;
}

.heading > div  {
    border : 1px solid black;
    border-radius : 5px;
    text-align : center;
}

.item1 {
    width : 50px;
    margin-rigth : 6px;

}
.item2 {
    width : 100px;
    margin-rigth : 6px;
}
.item3 {
    width : 600px;
    margin-rigth : 6px;
}
.item4 {
    width : 100px;
    margin-rigth : 6px;
}

#todo-list {
    list-style-type : none;
}