

.grid-container {
    display : grid;
    max-width : 50%;
    grid : 20px / 50px 100px 600px 100px;
    grid-gap : 6px;
    padding : 5px;
    margin : auto;
}

.grid-container > li  {
    border : 1px solid black;
    border-radius : 5px;
    text-align : center;
    height: 20px;
}

.heading {
    max-width : 50%;
    padding : 5px;
    margin : auto;
}

.heading > li  {
    border : 1px solid black;
    border-radius : 5px;
    text-align : center;
}

ul {
    list-style-type : none;
}

.flex {
    display : grid;
    max-width : 50%;
    grid : 20px / 150px 150px 150px 200px;
    grid-gap : 6px;
    padding : 5px;
    margin : auto;
}